body
{
	background: #c9e8ff;
}

#felso
{
	margin-top: 30px;
}

.kozep
{
	text-align: center;
}

.kepfelirat
{
	text-align: center;
	font-style: italic;
}

.galeriakep
{
	height: 300px;
	margin: auto;
	display: block;
}

.keretes
{
	padding: 20px;
	border: 3px solid #aaa;
}

a
{
	font-weight: bold;
}

.keret
{
	border: 3px solid #3d5875;
}

.margo
{
	margin: 20px 0;
}